<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.base.mapper.usc.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.demo.bean.usc.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="serial" property="serial" />
        <result column="is_tab" property="isTab" />
        <result column="menu_route" property="menuRoute" />
        <result column="url" property="url" />
        <result column="root_params" property="rootParams" />
        <result column="res_type" property="resType" />
        <result column="icon" property="icon" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
        <result column="sys_type" property="sysType" />
        <result column="back_url" property="backUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, serial, is_tab, menu_route, url, root_params, res_type, icon, is_deleted, create_id, create_name, create_time, update_id, update_time, update_name, sys_type, back_url
    </sql>

</mapper>
