<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.base.mapper.usc.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.demo.bean.usc.Role">
        <id column="id" property="id" />
        <result column="comment" property="comment" />
        <result column="menu_list" property="menuList" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_system" property="isSystem" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
        <result column="sys_type" property="sysType" />
        <result column="sn" property="sn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment, menu_list, name, status, is_deleted, is_system, create_id, create_time, create_name, update_id, update_time, update_name, sys_type, sn
    </sql>

</mapper>
