<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.base.mapper.sys.SystemLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.base.bean.sys.SystemLog">
        <id column="id" property="id" />
        <result column="app_name" property="appName" />
        <result column="params" property="params" />
        <result column="results" property="results" />
        <result column="create_time" property="createTime" />
        <result column="request_ip" property="requestIp" />
        <result column="all_method_name" property="allMethodName" />
        <result column="method_name" property="methodName" />
        <result column="operation_type" property="operationType" />
        <result column="success" property="success" />
        <result column="resp_time" property="respTime" />
        <result column="error_msg" property="errorMsg" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="log_type" property="logType" />
        <result column="log_desc" property="logDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_name, params, results, create_time, request_ip, all_method_name, method_name, operation_type, success, resp_time, error_msg, create_id, create_name, log_type, log_desc
    </sql>

</mapper>
